name: Build Documentation Pages and Deploy to GitHub Pages

on:
  repository_dispatch:
    types: [data-points-updated]
  push:
    branches:
      - main
    # Review gh actions docs if you want to further define triggers, paths, etc
    # https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#on

jobs:
  build:
    if: ${{ github.event_name == 'repository_dispatch' && github.event.type == 'data-points-updated' || github.event_name == 'push' }}
    uses: ./.github/workflows/build.yml
    with:
      upload_artifact: true
    secrets:
      TALENT_PROTOCOL_API_KEY: ${{ secrets.TALENT_PROTOCOL_API_KEY }}

  deploy:
    if: ${{ github.event_name == 'repository_dispatch' && github.event.type == 'data-points-updated' || github.event_name == 'push' }}
    name: Deploy to GitHub Pages
    needs: build

    # Grant GITHUB_TOKEN the permissions required to make a Pages deployment
    permissions:
      pages: write # to deploy to Pages
      id-token: write # to verify the deployment originates from an appropriate source

    # Deploy to the github-pages environment
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
